spring:
  application:
    name: transacao-service
  data:
    mongodb:
      uri: mongodb+srv://mongouser:mongopwd@localhost:27017/test?authSource=admin

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${eureka.application.instance-id:${random.value}}